.auth_section {
    background-color: #f4f4f9;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth_container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

.auth_tabs {
    display: flex;
    /* justify-content: stretch; */
    background-color: #2c3e50;
}

.tab_button {
    width: 50%;
    background: none;
    border: none;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.active {
    background-color: #e67e22;
}

.tab_button:hover {
    background-color: #cead90;
}

.tab_content {
    padding: 20px;
}

.auth_form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.form_group {
    margin-bottom: 15px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
    color: #7f8c8d;
}

.form_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 1em;
}

.form_button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_button:hover {
    background-color: #e67e22;
}
